.headerBg {
  background-color: var(--color-p9);
}

.networks {
  display: flex;
  align-items: center;
  color: var(--color-p1);
  padding: var(--space-020); 
  gap: var(--space-008);
  flex-wrap: wrap;
}

.menu {
  color: var(--color-p1);
  display: flex;
  gap: var(--space-016);
  flex-wrap: wrap;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  nav {
    padding: var(--space-020);
  }
}


